version: "3.9"

services:

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:80"        # Host 3000 → Nginx 80
    networks:
      - app-net
    depends_on:
      - backend
    restart: always

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"      # Host 5000 → backend container 5000
    networks:
      - app-net
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8
    container_name: db
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app-net
    ports:
      - "3308:3308"      # Host 3306 → container 3306
    restart: always

networks:
  app-net:
    driver: bridge

volumes:
  db-data:

