services:
  web:
    build: ./web
    container_name: web
    ports:
      - "8080:80"
    volumes:
      - ./web:/var/www/html
    depends_on:
      - db
    networks:
      app-network:
        ipv4_address: 172.28.0.10

  db:
    image: mysql:8
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: pass123
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      app-network:
        ipv4_address: 172.28.0.11

networks:
  app-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16

volumes:
  mysql_data:

